<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gmail.ganeeva.d.homework">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".main.HomeworkApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_myapp_24dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".lesson1.Lesson1MainActivity"/>
        <activity android:name=".lesson2.Lesson2MainActivity"/>
        <activity android:name=".lesson3.Lesson3MainActivity"/>
        <activity android:name=".lesson4.Lesson4MainActivity"/>
        <activity android:name=".lesson4.Lesson4ClockActivity"/>
        <activity android:name=".lesson5.Lesson5MainActivity"/>

        <service android:name=".lesson5.Lesson5Service"/>

        <activity android:name=".lesson6.Lesson6MainActivity">
        </activity>
        <activity android:name=".lesson7.Lesson7MainActivity">
        </activity>
        <activity android:name=".lesson10.Lesson10MainActivity">
        </activity>
        <activity android:name=".lesson9.presentation.Lesson9MainActivity">
        </activity>
        <activity android:name=".lesson11.presentation.profiles_list.Lesson11MainActivity">
        </activity>
        <activity android:name=".lesson11.presentation.profile_details.Lesson11ProfileActivity">
        </activity>
        <activity android:name=".lesson13.Lesson13MainActivity">
        </activity>
    </application>

</manifest>